@page "/"
@inject INyckel nyckel

<PageTitle>Nyckel - Home</PageTitle>

<h1>Information</h1>

<hr />

<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                Number of records
            </div>
            <div class="card-body">
                <h1 style="font-size: 48pt">
                    @nyckel.Count()
                </h1>
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-header">
                Backend
            </div>
            <div class="card-body">
                <h1 style="font-size: 48pt">
                    @Config.Backend().Name
                </h1>
            </div>
        </div>
    </div>

</div>

<div class="row">
    @foreach (var pair in nyckel.Info())
    {
        <div class="col-6" style="padding-top: 1.0em">
            <div class="card">
                <div class="card-header">
                    @pair.Key
                </div>
                <div class="card-body">
                    <h1 style="font-size: 48pt">
                        @pair.Value
                    </h1>
                </div>
            </div>
        </div>
    }
</div>